<mat-card fxLayout="column" class="white-semi-transparent ">


  <mat-card-header fxFlex="20">

    <p class="lead h5">
      Connexion
    </p>
  </mat-card-header>

  <mat-card-content fxFlex="70" fxLayout="column" fxLayoutAlign="space-between">
    <mat-form-field fxFlex="25">
      <mat-label>
        Nom d'utilisateur
      </mat-label>
    <input class="form-control" matInput [formControl]="nameInput">
    </mat-form-field>
    <mat-form-field fxFlex="25">
      <mat-label>
        Mot de passe
      </mat-label>
      <input class="form-control" matInput [formControl]="passwordInput" type="password">
    </mat-form-field>

    <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>

    <mat-card class="white-transparent" fxFlex="20">
    <button class="btn btn-primary" (click)="submit()">Se connecter </button>
    </mat-card>



  </mat-card-content>


</mat-card>
