  <div style="overflow: auto " class="bg-transparent" *ngIf="product_command_unit" fxLayout="column">

      <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
      <form  #editForm="ngForm"  fxLayout="row" fxLayoutAlign="space-between" (ngSubmit)="add()">





        <div class="form-group" fxFlex="30">
          <mat-form-field  class="gs-mat-field" fxFlex="100">
            <input matInput class="form-control" placeholder="Produit" name="Product"
                   [matAutocomplete]="autoProduct" [formControl]="productInput" (blur)="checkProduct()">
          </mat-form-field>
          <mat-autocomplete #autoProduct="matAutocomplete" [displayWith]="displayProduct"
          (optionSelected)="productClick($event)">
          <mat-option *ngIf="isLoadingProduct" class="is-loading">
            <mat-spinner diameter="50"></mat-spinner>
          </mat-option>
          <ng-container *ngIf="!isLoadingProduct">
            <mat-option *ngFor="let product of filteredProductList" [value]="product" class="card-option" style="height:auto">
              <mat-card fxLayout="column" fxLayoutAlign="center" >
              <div fxFlex="30" fxLayout="column" fxLayoutAlign="space-between">

                    <span class="lead h5">{{product.name}}</span>
                <div>
                  <mat-label class="">
                    Categorie :
                  </mat-label>
                  <input class="h6 lead"  matInput readonly value="{{product.category.name}}" required>
                </div>

              </div>
                <mat-card-content fxFlex="70" fxLayout="row" fxLayoutAlign="space-between">



                </mat-card-content>

              </mat-card>

-


            </mat-option>
          </ng-container>
          </mat-autocomplete>
        </div>




        <div class="form-group">
          <mat-form-field class="gs-mat-field" fxFlex="100">

            <input matInput class="form-control" placeholder="Quantité" name="Quantity"
                   type="number"  [(ngModel)]="product_command_unit.quantity"    required >

          </mat-form-field>
        </div>



        <div class="form-group">
          <mat-form-field class="gs-mat-field" fxFlex="100">

            <input matInput class="form-control" placeholder="Prix d'achat unitaire" name="UnitPrice"
                   type="number"  [(ngModel)]="product_command_unit.unit_price"   required >

          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field class="gs-mat-field" fxFlex="100">

            <input matInput class="form-control" placeholder="Prix de vente unitaire" name="UnitSalePrice"
                   type="number"  [(ngModel)]="product_command_unit.unit_sale_price"   required >

          </mat-form-field>
        </div>









        <button type="submit" fxFlex="10" style="height: 60%" class="btn btn-primary" [disabled]="!editForm.form.valid" >Ajouter</button>

      </form>

  </div>
