.card-option {
  padding: 10px;

  height:auto;
  border: 1px;
  border-style: inset;
  border-radius:0.1em;
}

.card-option:hover div:first-child {
  background:none;
}


.card-option  div:first-child {
  background:linear-gradient(white,lightblue);
  border-width: 0.5px;
  border-color: darkslategrey;

}

.card-option :hover {

}
