  <ol class="breadcrumb float-right" *ngIf="class_product">
    <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
    <li class="breadcrumb-item active" routerLink="/stock/classProducts">
      Stock de produit
    </li>
    <li *ngIf="class_product._id"  class="breadcrumb-item active">
      {{class_product._id}}
    </li>

    <li *ngIf="!class_product._id"  class="breadcrumb-item active">
      Création d'un class_product
    </li>
  </ol>
  <mat-expansion-panel style="overflow: auto " expanded=true class="card" *ngIf="class_product" fxLayout="column">
    <mat-expansion-panel-header fxFlex="5" class="lead" fxLayout="column" fxLayout="center">


        <mat-panel-title>
          <p class="h4">
            <span *ngIf="!class_product._id">Création d'un class_product</span>
            <span *ngIf="class_product._id">class_product</span>


          </p>
        </mat-panel-title>

        <mat-panel-description>

          <p class="h4"> Main Informations </p>
        </mat-panel-description>







    </mat-expansion-panel-header>
    <div class="content">
      <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
      <form  #editForm="ngForm" (ngSubmit)="save()">



        <div class="form-group">
          <mat-form-field class="gs-mat-field" fxFlex="100">

            <input matInput class="form-control" placeholder="Id" name="Id"
                   type="text"  [(ngModel)]="class_product._id"    readonly  >

          </mat-form-field>
        </div>


        <div class="form-group">
          <mat-form-field  class="gs-mat-field" fxFlex="100">
            <input matInput class="form-control" placeholder="Product" name="Product"
                   [matAutocomplete]="autoProduct" [formControl]="productInput" (blur)="checkProduct()">
          </mat-form-field>
          <mat-autocomplete #autoProduct="matAutocomplete" [displayWith]="displayProduct"
          (optionSelected)="productClick($event)">
          <mat-option *ngIf="isLoadingProduct" class="is-loading">
            <mat-spinner diameter="50"></mat-spinner>
          </mat-option>
          <ng-container *ngIf="!isLoadingProduct">
            <mat-option *ngFor="let product of filteredProductList" [value]="product">
                <span>{{
                  product.name}}</span>
            </mat-option>
          </ng-container>
          </mat-autocomplete>
        </div>



        <div class="form-group">
          <mat-form-field class="gs-mat-field" fxFlex="100">

            <input matInput class="form-control" placeholder="Nom de la classe " name="Label"
                   type="text"  [(ngModel)]="class_product.label"    >

          </mat-form-field>
        </div>



        <div class="form-group">
          <mat-form-field class="gs-mat-field" fxFlex="100">

            <input matInput class="form-control" placeholder="Prix unitaire" name="UnitPrice"
                   type="number"  [(ngModel)]="class_product.unit_price"    >

          </mat-form-field>
        </div>



        <div class="form-group">
          <mat-form-field class="gs-mat-field" fxFlex="100">

            <input matInput [matDatepicker]="datepicker" placeholder="Date d'arrivée" [(ngModel)]="class_product.date_intrance" name="DateIntrance"                                           required   >
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker touchUi="true" #datepicker></mat-datepicker>

          </mat-form-field>
        </div>



        <div class="form-group">
          <mat-form-field class="gs-mat-field" fxFlex="100">

            <input matInput class="form-control" placeholder="quantité" name="Quantity"
                   type="number"  [(ngModel)]="class_product.quantity"    readonly  >

          </mat-form-field>
        </div>





        <div class="form-group">
          <mat-form-field class="gs-mat-field" fxFlex="100">
            <mat-label>Statut</mat-label>
            <mat-select [(value)]="class_product.status">

              <mat-option [value]=true> Active</mat-option>

              <mat-option [value]=false> Inactive</mat-option>

            </mat-select>
          </mat-form-field>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!editForm.form.valid">Enregistrer</button>
        <button type="button" class="btn btn-secondary" (click)="cancel()">Annuler</button>
      </form>
    </div>
  </mat-expansion-panel>
