

<div  *ngIf="dataSource.data.length > 0"  class="example-container mat-elevation-z8">

  <mat-table class=""   [dataSource]="dataSource" matSort >


    <ng-container matColumnDef="product">
      <mat-header-cell *matHeaderCellDef mat-sort-header >Produit</mat-header-cell>
      <mat-cell *matCellDef="let item" class="mobile-hide">
        <span class="mobile-label">Produit : </span>
        {{item.product_class.product.name}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef mat-sort-header >Quantité</mat-header-cell>
      <mat-cell *matCellDef="let item" class="mobile-hide">
        <span class="mobile-label">Quantité : </span>
        {{item.quantity}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="unit_price">
      <mat-header-cell *matHeaderCellDef mat-sort-header >Prix d'achat unitaire</mat-header-cell>
      <mat-cell *matCellDef="let item" class="mobile-hide">
        <span class="mobile-label">Prix d'achat unitaire : </span>
        {{item.unit_price|currency:"FCFA":"symbol":'4.0-0':'fr'}}
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef mat-sort-header >Prix Total acheté</mat-header-cell>
      <mat-cell *matCellDef="let item" class="mobile-hide">
        <span class="mobile-label">Prix total acheté : </span>
        {{item.quantity*item.unit_price|currency:"FCFA":"symbol":'4.0-0':'fr'}}
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="actions" >
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell class="" *matCellDef="let item">
        <div fxLayout="row" fxLayout.md="column" fxLayoutAlign="center" *ngIf="!sale._id">
          <button (click)="remove(item)" class="btn btn-danger">Retirer</button>
        </div>

      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>


  <mat-card fxLayout="row" fxLayoutAlign="space-between" *ngIf="sale.sale_units_datasource.data.length>0">
    <mat-form-field fxFlex="25">
      <mat-label>
        Montant de de la vente
      </mat-label>
      <input matInput readonly [value]="sale.amount|currency:'FCFA'">
    </mat-form-field>

  </mat-card>

</div>
