

<div  *ngIf="dataSource.data.length > 0"  class="example-container mat-elevation-z8">

  <mat-table class=""   [dataSource]="dataSource" matSort >


    <ng-container matColumnDef="product">
      <div>
      <mat-header-cell *matHeaderCellDef mat-sort-header >Produit</mat-header-cell>
      <mat-cell *matCellDef="let item" class="mobile-hide">
        <span class="mobile-label">Produit : </span>
        {{item.product_class.product.name}}

      </mat-cell>

      </div>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef mat-sort-header >Quantité</mat-header-cell>
      <mat-cell *matCellDef="let item" class="mobile-hide">
        <span class="mobile-label">Quantité : </span>
        {{item.quantity}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="unit_price">
      <mat-header-cell *matHeaderCellDef mat-sort-header >Prix de vente unitaire</mat-header-cell>
      <mat-cell *matCellDef="let item" class="mobile-hide">
        <span class="mobile-label">Prix de vente unitaire : </span>
        {{item.unit_price|currency:"FCFA":"symbol":'1.0-0':'fr'}}
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="date" >
      <div>
      <mat-header-cell *matHeaderCellDef mat-sort-header >Date de la vente</mat-header-cell>
      <mat-cell *matCellDef="let item" class="mobile-hide">
        <span class="mobile-label">Date de la vente : </span>
        {{item.sale.date_finalizing|date }}
      </mat-cell>
      </div>
    </ng-container>


    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef mat-sort-header >Prix Total vendu</mat-header-cell>
      <mat-cell *matCellDef="let item" class="mobile-hide">
        <span class="mobile-label">Prix total vendu : </span>
        {{item.quantity*item.unit_price|currency:"FCFA":"symbol":'1.0-0':'fr'}}
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="customer">
      <mat-header-cell *matHeaderCellDef mat-sort-header >Client</mat-header-cell>
      <mat-cell *matCellDef="let item" class="mobile-hide">
        <span class="mobile-label">Client </span>
        {{item.sale.customer.name}}
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="payment_status">
      <mat-header-cell *matHeaderCellDef mat-sort-header >Etat de paiement</mat-header-cell>
      <mat-cell *matCellDef="let item" class="mobile-hide">
        <span class="mobile-label">Etat de paiement : </span>
        {{item.sale.payment_status?"Réglée":"Non réglée"}}
      </mat-cell>
    </ng-container>




    <ng-container matColumnDef="actions" >
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell class="" *matCellDef="let item">
        <div fxLayout="row" fxLayout.md="column" fxLayoutAlign="center" *ngIf="!sale._id">
          <button (click)="remove(item)" class="btn btn-danger">Retirer</button>
        </div>

      </mat-cell>
    </ng-container>






    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>








  <mat-card fxLayout="row" fxLayoutAlign="space-between" *ngIf="saleMode&& sale.sale_units_datasource.data.length>0">
    <mat-form-field fxFlex="25">
      <mat-label>
        Montant Total
      </mat-label>
      <input matInput readonly [value]="sale.amount|currency:'FCFA':'symbol':'1.0-0':'fr'">
    </mat-form-field>

  </mat-card>



  <mat-card fxLayout="row" fxLayoutAlign="space-between" *ngIf="productMode&& sale.sale_units_datasource.data.length>0">
    <mat-form-field fxFlex="25">
      <mat-label>
        Montant total des ventes
      </mat-label>
      <input matInput readonly [value]="sale.amount|currency:'FCFA':'symbol':'1.0-0':'fr'">
    </mat-form-field>



    <mat-form-field fxFlex="25">
      <mat-label>
        Montant perçu
      </mat-label>
      <input matInput readonly [value]="sale.paid_amount|currency:'FCFA':'symbol':'1.0-0':'fr'">
    </mat-form-field>




    <mat-form-field fxFlex="25">
      <mat-label>
        Reste à percevoir(Crédits) :
      </mat-label>
      <input matInput readonly [value]="sale.amount-sale.paid_amount|currency:'FCFA':'symbol':'1.0-0':'fr'">
    </mat-form-field>





  </mat-card>









</div>
