
<ol class="breadcrumb float-right">
  <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
  <li class="breadcrumb-item active">Utilisateur</li>
</ol>
<div class="card">
<div class="content">
<a [routerLink]="['../managers', 'new' ]" class="btn btn-default">Nouveau</a>
    <hr>
<mat-expansion-panel style="overflow: auto "class="white-transparent filters_box" style="padding :2px" expanded="false">
        <mat-expansion-panel-header class="header">
<p class="lead strong">
        Filtres de recherches
        </p>
        <hr>
</mat-expansion-panel-header>
<mat-card-content class="bg-transparent " fxLayout="row" fxLayoutGap="18px" fxLayoutAlign="flex-start" fxLayout.xs="column" fxLayoutAlign.xs="flex-start"  fxLayout="row">

        <mat-card  class="white-transparent">
        <mat-card-header class="white-transparent" fxLayout="row" fxLayoutAlign="space-between">
            <p fxFlex class="bold">nom</p>
<button style="border:none;background: transparent"  (click)="nameFilter.reset()"  fxFlex>
          <i class="ti-reload"></i>
          </button>
</mat-card-header>
      <mat-card-content class="white-transparent" fxLayout="row" fxLayoutAlign="space-between">





<mat-form-field>
        <input matInput class="" placeholder="val" name="name.val" [formControl]="nameFilter.controls.val" >
        </mat-form-field>

      </mat-card-content></mat-card>

        <mat-card  class="white-transparent">
        <mat-card-header class="white-transparent" fxLayout="row" fxLayoutAlign="space-between">
            <p fxFlex class="bold">Statut</p>
<button style="border:none;background: transparent"  (click)="statusFilter.reset()"  fxFlex>
          <i class="ti-reload"></i>
          </button>
</mat-card-header>
      <mat-card-content class="white-transparent" fxLayout="row" fxLayoutAlign="space-between">





<mat-form-field class="gs-mat-field" fxFlex="100">
          <mat-label>Statut</mat-label>
          <mat-select  [formControl]="statusFilter.controls.val">

            <mat-option [value]=true> Actif</mat-option>

            <mat-option [value]=false> Inactif</mat-option>

          </mat-select>
        </mat-form-field>




      </mat-card-content></mat-card>

      </mat-card-content>
      </mat-expansion-panel>
  </div>
</div>
<div  *ngIf="managerList.length > 0"  class="example-container mat-elevation-z8">

<mat-table class=""  [dataSource]="dataSource" matSort >

    <ng-container matColumnDef="_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header >Id</mat-header-cell>
      <mat-cell *matCellDef="let item" class="mobile-hide">
         <span class="mobile-label">Id : </span>
{{item._id}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header >nom</mat-header-cell>
      <mat-cell *matCellDef="let item" class="mobile-hide">
         <span class="mobile-label">nom : </span>
{{item.name}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header >Statut</mat-header-cell>
      <mat-cell *matCellDef="let item" class="mobile-hide">
         <span class="mobile-label">Statut : </span>
{{item.status}}
      </mat-cell>
    </ng-container>

<ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell class=""
              *matCellDef="let item">
<div fxLayout="row" fxLayout.md="column" fxLayoutAlign="center">
      <a [routerLink]="['../managers', item._id ]" class="btn btn-secondary">Modifier</a>&nbsp;
      <button (click)="delete(item)" class="btn btn-danger">Supprimer</button>
      </div>
</mat-cell>
  </ng-container>
<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
