<a mat-card [routerLink]="target" router fxLayout="row" class="nav-item card" fxLayoutAlign="center"
  routerLinkActive="active-nav-item" fxFlex="100">
  <li *ngIf="childrenItems.length==1;else dropdown"  (click)="sidenav_close()"  fxLayout="row" fxFlex="80" fxLayoutAlign="flex-start">


    <i fxLayoutAlign="center" fxLayout="column" class={{icon}}></i>
    <p fxLayoutAlign="center" fxLayout="column"><span> {{label}}</span> </p>

  </li>
</a>




<ng-template #dropdown>

  <mat-accordion style="width: 100%" >
    <mat-expansion-panel >

      <mat-expansion-panel-header class="nav-item " fxLayout="row" fxLayoutAlign="flex-center">



        <li fxLayout="row" fxFlex="80" fxLayoutAlign="flex-start">


          <i fxLayoutAlign="center" fxLayout="column" class={{icon}}></i>
          <p fxLayoutAlign="center" fxLayout="column"><span> {{label}}</span> </p>

        </li>


      </mat-expansion-panel-header>


      <ng-content></ng-content>
    </mat-expansion-panel>

  </mat-accordion>
</ng-template>
