
<ol class="breadcrumb float-right">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item active">Stock de produit</li>
</ol>
<div class="card">
<div class="content">
<a [routerLink]="['../classProducts', 'new' ]" class="btn btn-default">Nouveau</a>
    <hr>
<mat-expansion-panel style="overflow: auto "class="white-transparent" style="padding :2px" expanded="true">
        <mat-expansion-panel-header class="header">
<p class="lead strong">
        Filtres de recherches
        </p>
        <hr>
</mat-expansion-panel-header>
<mat-card-content class="bg-transparent" fxLayout="row" fxLayoutGap="18px" fxLayoutAlign="flex-start" fxLayout.xs="column" fxLayoutAlign.xs="flex-start"  fxLayout="row">

        <mat-card  class="white-transparent">
        <mat-card-header class="white-transparent" fxLayout="row" fxLayoutAlign="space-between">
            <p fxFlex class="bold">produit</p>
<button style="border:none;background: transparent"  (click)="resetProductFilter()"  fxFlex>
          <i class="ti-reload"></i>
          </button>
</mat-card-header>
      <mat-card-content class="white-transparent" fxLayout="row" fxLayoutAlign="space-between">





    <mat-card-content class="white-transparent" fxLayout="row" fxLayoutAlign="space-between">
<mat-form-field  class="gs-mat-field" fxFlex="100">
        <input matInput class="form-control" placeholder="Product" name="Product"
               [matAutocomplete]="autoProduct" [formControl]="productInput" (blur)="checkProduct()">
      </mat-form-field>
      <mat-autocomplete #autoProduct="matAutocomplete" [displayWith]="displayProduct"
                        (optionSelected)="productClick($event)">
        <mat-option *ngIf="isLoadingProduct"  class="is-loading">
          <mat-spinner diameter="50"></mat-spinner>
        </mat-option>
        <ng-container *ngIf="!isLoadingProduct">
          <mat-option *ngFor="let product of filteredProductList" [value]="product">
            <span>{{product.name}}</span>
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </mat-card-content>



      </mat-card-content></mat-card>

        <mat-card  class="white-transparent">
        <mat-card-header class="white-transparent" fxLayout="row" fxLayoutAlign="space-between">
            <p fxFlex class="bold">Nom de la classe </p>
<button style="border:none;background: transparent"  (click)="labelFilter.reset()"  fxFlex>
          <i class="ti-reload"></i>
          </button>
</mat-card-header>
      <mat-card-content class="white-transparent" fxLayout="row" fxLayoutAlign="space-between">





<mat-form-field>
        <input matInput class="" placeholder="val" name="label.val" [formControl]="labelFilter.controls.val" >
        </mat-form-field>

      </mat-card-content></mat-card>

      </mat-card-content>
      </mat-expansion-panel>
  </div>
</div>
<div  *ngIf="class_productList.length > 0"  class="example-container mat-elevation-z8">

<mat-table class=""  [dataSource]="dataSource" matSort >

    <ng-container matColumnDef="_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header >Id</mat-header-cell>
      <mat-cell *matCellDef="let item" class="mobile-hide">
         <span class="mobile-label">Id : </span>
{{item._id}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="product">
      <mat-header-cell *matHeaderCellDef mat-sort-header >produit</mat-header-cell>
      <mat-cell *matCellDef="let item" class="mobile-hide">
         <span class="mobile-label">produit : </span>
{{item.product.name}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="label">
      <mat-header-cell *matHeaderCellDef mat-sort-header >Nom de la classe </mat-header-cell>
      <mat-cell *matCellDef="let item" class="mobile-hide">
         <span class="mobile-label">Nom de la classe  : </span>
{{item.label}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="unit_price">
      <mat-header-cell *matHeaderCellDef mat-sort-header >Prix unitaire</mat-header-cell>
      <mat-cell *matCellDef="let item" class="mobile-hide">
         <span class="mobile-label">Prix unitaire : </span>
{{item.unit_price|currency:"XAF":"symbol"}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date_intrance">
      <mat-header-cell *matHeaderCellDef mat-sort-header >Date d'arrivée</mat-header-cell>
      <mat-cell *matCellDef="let item" class="mobile-hide">
         <span class="mobile-label">Date d'arrivée : </span>
{{item.date_intrance|date:'medium'}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef mat-sort-header >quantité</mat-header-cell>
      <mat-cell *matCellDef="let item" class="mobile-hide">
         <span class="mobile-label">quantité : </span>
{{item.quantity}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header >Statut</mat-header-cell>
      <mat-cell *matCellDef="let item" class="mobile-hide">
         <span class="mobile-label">Statut : </span>
{{item.status}}
      </mat-cell>
    </ng-container>

<ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell class=""
              *matCellDef="let item">
<div fxLayout="row" fxLayout.md="column" fxLayoutAlign="center">
      <a [routerLink]="['../classProducts', item._id ]" class="btn btn-secondary">Détails</a>&nbsp;
      <button (click)="delete(item)" class="btn btn-danger">Supprimer</button>
      </div>
</mat-cell>
  </ng-container>
<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
