



<gs-nav title={{app_name}} orientation="top">

  <div class="logo">

      <div class="logo-img " style="width:100%">

        <h3>{{app_name}}</h3>

      </div>


  </div>

  <hr>

<nav-item label="Tableau de bord" icon="ti-dashboard" target="home"></nav-item>

  <nav-item label="Partenaires" icon="ti-user">
    <nav-item label="Mes clients" icon="ti-user" target="partners/customers">-

    </nav-item>

    <nav-item label="Mes fournisseurs" icon="ti-user" target="partners/providers">

    </nav-item>
  </nav-item>


  <nav-item label=" produits" icon="ti-bag"  >
    <nav-item label="Types de Produit"  icon="ti-marker" target="stock/products">

    </nav-item>
    <nav-item label="Stocks de produit" icon="ti-shopping-cart" target="stock/classProducts">

    </nav-item>

    <nav-item label="Categories de produit" target="stock/categories" icon="ti-clip">

    </nav-item>
  </nav-item>



  <nav-item label="Commandes de produit" target="stock_operations/productCommands" icon="ti-list">


  </nav-item>
  <nav-item label="Ventes de produit" icon="ti-arrow-right" target="stock_operations/sales"></nav-item>

  <nav-item label="Paramètres" icon="ti-settings">
    <nav-item label="Utilisateurs" icon="ti-user" target="params/managers">  </nav-item>

  </nav-item>



</gs-nav>

