



<gs-nav title={{app_name}} orientation="top">

  <div class="logo">

      <div class="logo-img " style="width:100%">

        <h3>{{app_name}}</h3>

      </div>


  </div>

  <hr>



  <nav-item label="Partenaires" icon="ti-user" target="home">
    <nav-item label="Mes clients" icon="ti-user" target="partners/customers">-

    </nav-item>

    <nav-item label="Mes fournisseurs" icon="ti-user" target="partners/providers">

    </nav-item>
  </nav-item>


  <nav-item label=" produits" target="home">
    <nav-item label="Types de Produit" target="stock/products">

    </nav-item>
    <nav-item label="Stocks de produit" target="stock/classProducts">

    </nav-item>

    <nav-item label="Categories de produit" target="stock/categories">

    </nav-item>
  </nav-item>



  <nav-item label="Commandes de produit" target="stock_operations/productCommands">


  </nav-item>
  <nav-item label="Ventes de produit" target="stock_operations/sales"></nav-item>

  <nav-item label="Paramètres" icon="ti-setting">
    <nav-item label="Utilisateurs" icon="ti-user" target="params/managers">  </nav-item>

  </nav-item>



</gs-nav>

