<ol class="breadcrumb float-right" *ngIf="sale">
  <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
  <li class="breadcrumb-item active" routerLink="/stock_operations/sales">
    Ventes de produits
  </li>
  <li *ngIf="sale._id"  class="breadcrumb-item active">
    {{sale._id}}
  </li>
  <li *ngIf="!sale._id"  class="breadcrumb-item active">
    Nouvelle Commande.
  </li>
</ol>

<div fxLayout="column" fxLayoutGap="40px" fxLayoutAlign="flex-start">






  <mat-expansion-panel style="overflow: auto " expanded=true class="card" *ngIf="sale" fxLayout="column">
    <mat-expansion-panel-header fxFlex="5" class="lead" fxLayout="column" fxLayout="center">
      <mat-panel-title>
        <p class="h4">
          <span *ngIf="!sale._id">Nouvelle vente</span>
          <span *ngIf="sale._id">Commande de produit  </span>




        </p>
      </mat-panel-title>
      <mat-panel-description>
        <p class="h4">  </p>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <span *ngIf="sale._id"><button mat-button class="btn btn-secondary" (click)="visualize()"><mat-icon class="ti-printer"> </mat-icon> Visualiser le bon de vente </button> </span>
    <div class="content">
      <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>


      <form  #editForm="ngForm" (ngSubmit)="save()">


        <div class="form-group " fxLayout="row" fxLayout.lg="column" fxLayoutAlign="space-between">
          <mat-form-field class="gs-mat-field" fxFlex="100" >


            <mat-label>Etat de la vente</mat-label>
            <input matInput readonly [value]='sale.status?"Livrée":"Non livrée"'>

          </mat-form-field>

          <mat-form-field class="gs-mat-field" fxFlex="100" >


            <mat-label>Etat de la facture</mat-label>
            <input matInput readonly [value]='sale.payment_status==true?"Réglée":"Non réglée"'>

          </mat-form-field>
        </div>


        <div class="form-group">
          <mat-form-field  class="gs-mat-field" fxFlex="100">
            <input matInput class="form-control" placeholder="Client" name="Customer" required
                   [matAutocomplete]="autoCustomer" [formControl]="customerInput" (blur)="checkCustomer()" [readonly]="sale._id">
          </mat-form-field>
          <mat-autocomplete #autoCustomer="matAutocomplete" [displayWith]="displayCustomer"
                            (optionSelected)="customerClick($event)">
            <mat-option *ngIf="isLoadingCustomer" class="is-loading">
              <mat-spinner diameter="50"></mat-spinner>
            </mat-option>
            <ng-container *ngIf="!isLoadingCustomer">
              <mat-option *ngFor="let customer of filteredCustomerList" [value]="customer">
                <span>{{customer.name}}</span>
              </mat-option>
            </ng-container>
          </mat-autocomplete>
        </div>






        <div class="form-group">
          <mat-form-field class="gs-mat-field" fxFlex="100">

            <input matInput [matDatepicker]="datepicker" placeholder="Date de la livraison de la vente" [(ngModel)]="sale.date_finalizing" name="DateFinalizing"    required  [readonly]="sale._id"  >
            <mat-datepicker-toggle matSuffix [for]="datepicker"  *ngIf="!sale._id" ></mat-datepicker-toggle>
            <mat-datepicker touchUi="true" #datepicker></mat-datepicker>

          </mat-form-field>
        </div>












      <div class="card" fxLayoutGap="10px" fxLayout="column">
        <mat-expansion-panel style="overflow: auto;padding:1px " expanded=true class="card" *ngIf="sale" fxLayout="column">
          <mat-expansion-panel-header fxFlex="5" class="lead" fxLayout="column" fxLayout="center">
            <mat-panel-title fxLayout="row" fxLayoutAlign="space-between">
              <p class="h6">
                Produits de la vente
              </p>


            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>

          </mat-expansion-panel-header>
          <div class="content"    *ngIf="sale.sale_units_datasource" style="padding:1px">

            <app-sale-unit-edit *ngIf="!sale._id"  [sale]="sale" ></app-sale-unit-edit>
            <app-sale-unit   [sale]="sale" ></app-sale-unit>

          </div>
        </mat-expansion-panel>

        <mat-expansion-panel style="overflow: auto;padding:1px " expanded=true class="card" *ngIf="sale" fxLayout="column">
          <mat-expansion-panel-header fxFlex="5" class="lead" fxLayout="column" fxLayout="center">
            <mat-panel-title>
              <p class="h6">
                Paiements
              </p>
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>

          </mat-expansion-panel-header>
          <div class="content"    *ngIf="sale.sale_payments" style="padding:1px">

            <app-payment-edit   [sale]="sale"  *ngIf="sale._id&&!sale.payment_status"></app-payment-edit>
            <app-payment   [sale]="sale" ></app-payment>

          </div>
        </mat-expansion-panel>






      </div>
        <button type="submit" class="btn btn-primary"  *ngIf="!sale._id"   [disabled]="!editForm.form.valid"         >Effectuer la vente</button>

        <button  class="btn btn-primary"  *ngIf="sale._id&&!sale.status" (click)="makeNow()" >Effectuer la livraison maintenant</button>
        <button type="button" class="btn btn-secondary" (click)="cancel()">Retour</button>
      </form>
    </div>
  </mat-expansion-panel>
</div>























