
<mat-card style="height:100%;width: 100%">

  <mat-card-title class="h1 lead"  >
    Tableau de bord
  </mat-card-title>
  <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
<mat-grid-list cols="2" rowHeight="2:1"   >
  <mat-grid-tile fxLayout="column" style="padding:0px" fxLayoutAlign="space-between">



    <mat-card  fxLayout="column" style="height: 90%" fxFlex="90">

        <mat-card-header class="h4 bg-secondary">
          Stock de produits
        </mat-card-header>

      <mat-label class="h5 lead">Nombre de Stock de produits</mat-label>



      <span class="h3 rounded-circle text-center"  style="border-style:inset;border-radius: 3.14em;">{{product_class_count}}

      </span>






      <a routerLink="/stock/classProducts" class="btn btn-fill">Consulter les produits</a>



      </mat-card>



  </mat-grid-tile>


  <mat-grid-tile fxLayout="column" style="padding:0px" fxLayoutAlign="space-between">



    <mat-card  fxLayout="column" style="height: 90%" fxFlex="90">

      <mat-card-header class="h4" style="padding:3px" fxLayoutAlign="space-between">
        <span>Commandes</span>
        <a routerLink="/stock_operations/productCommands" class="btn btn-secondary bold">Consulter les commandes</a>
      </mat-card-header>
      <div fxLayout="row" fxLayoutAlign="space-between" class="alert-warning" *ngIf="oncomming_commands">
        <mat-label class="h6 bold lead">En attente</mat-label>
        <span fxFlex="20" class="h6 rounded-circle text-center"  style="border-style:inset;border-radius: 3.14em;">{{oncomming_commands.count}}

      </span>


        <span fxFlex="50" class="h6 rounded-circle text-center"  style="border-style:inset;border-radius: 3.14em;">
        {{oncomming_commands.amount|currency:'FCFA':'symbol':'1.0-0':'fr'}}

      </span>

      </div>








      <mat-card fxLayout="column"  fxFlex="50" fxLayoutAlign="space-between">

        <mat-label class="p-6 bold text-center"  fxFlex="20" style="font-size: 15px">Dernière commande</mat-label>

        <mat-card-content class="white-transparent" fxFlex="75"  fxLayout="row" fxLayoutAlign="space-between" *ngIf="last_command" >

        <mat-form-field fxFlex="20">
          <mat-label>
            Date
          </mat-label>


      <div class="bold h6 ">
        <input matInput readonly  [value]="last_command.date_finalizing|date">
        </div>
        </mat-form-field>



       <a  fxFlex="50" [routerLink]="['/stock_operations/productCommands', last_command._id ]" class="btn btn-fill h6">Consulter</a>



        <mat-form-field fxFlex="20">
          <mat-label>
          Montant
          </mat-label>


          <div class="bold h6" >
        <input matInput readonly  [value]="last_command.amount|currency:'FCFA':'symbol':'1.0-0':'fr'">
          </div>
        </mat-form-field>

        </mat-card-content>
      </mat-card>



      </mat-card>




  </mat-grid-tile>



  <mat-grid-tile>



    <mat-card  fxLayout="column" style="height: 90%" fxFlex="90">

      <mat-card-header class="h4" style="padding:3px" fxLayoutAlign="space-between">
        <span>Ventes</span>
        <a routerLink="/stock_operations/productCommands" class="btn btn-secondary bold">Consulter les ventes</a>
      </mat-card-header>
      <div fxLayout="row" fxLayoutAlign="space-between" class="alert-warning" *ngIf="oncomming_sales">
        <mat-label class="h6 bold lead">En attente</mat-label>
        <span fxFlex="20" class="h6 rounded-circle text-center"  style="border-style:inset;border-radius: 3.14em;">{{oncomming_sales.count}}

      </span>


        <span fxFlex="50" class="h6 rounded-circle text-center"  style="border-style:inset;border-radius: 3.14em;">
        {{oncomming_sales.amount|currency:'FCFA':'symbol':'1.0-0':'fr'}}

      </span>

      </div>








      <mat-card fxLayout="column"  fxFlex="50" fxLayoutAlign="space-between">

        <mat-label class="p-6 bold text-center"  fxFlex="20" style="font-size: 15px">Dernière vente</mat-label>

        <mat-card-content class="white-transparent" fxFlex="75"  fxLayout="row" fxLayoutAlign="space-between" *ngIf="last_sale" >

          <mat-form-field fxFlex="20">
            <mat-label>
              Date
            </mat-label>


            <div class="bold h6 ">
              <input matInput readonly  [value]="last_command.date_finalizing|date">
            </div>
          </mat-form-field>



          <a  fxFlex="50" [routerLink]="['/stock_operations/sales', last_sale._id ]" class="btn btn-fill h6">Consulter</a>



          <mat-form-field fxFlex="20">
            <mat-label>
              Montant
            </mat-label>


            <div class="bold h6" >
              <input matInput readonly  [value]="last_sale.amount|currency:'FCFA':'symbol':'1.0-0':'fr'">
            </div>
          </mat-form-field>

        </mat-card-content>
      </mat-card>



    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card  fxLayout="column" style="height:90%" fxFlex="95" fxLayoutAlign="space-between" >
    <mat-card-header class="h4">

      Partenaires
    </mat-card-header>

    <mat-card fxLayout="row" style="padding:5px"  fxFlex="40" *ngIf="customer_count" fxLayoutAlign="space-around">
      <div fxLayout="column" fxLayoutAlign="flex-start">
      <mat-label class="bold p-6">Nombre de Clients</mat-label>



      <span class="h5 rounded-circle text-center"  style="border-style:inset;border-radius: 3.14em;">{{customer_count}}

      </span>
      </div>
      <a routerLink="/partners/customers" class="btn btn-fill text-center"  style="height: 50%">Consulter les clients</a>

    </mat-card>




      <mat-card fxLayout="row"  style="padding:5px" fxFlex="45" *ngIf="provider_count" fxLayoutAlign="space-around">

        <div fxLayout="column">
             <mat-label class="bold p-6">Nombre de fournisseurs</mat-label>



      <span class="h5 rounded-circle text-center"  style="border-style:inset;border-radius: 3.14em;">{{provider_count}}





      </span>

        </div>

        <a routerLink="/partners/providers" class="btn btn-fill text-center" style="height: 50%">Consulter les fournisseurs</a>


    </mat-card>
    </mat-card>

  </mat-grid-tile>
</mat-grid-list>
</mat-card>
