/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "assets/css/tables.scss";
@import "assets/css/modal.scss";
.white-transparent {
background: rgba(255,255,255,0.1);
}

$main-color:linear-gradient(white,lightblue);


.white-semi-transparent {
    background: rgba(255,255,255,0.6);

    }

    .black-transparent {
        background: rgba(0,0,0,0.2);

    }



mat-dialog-container#modal-component {
  border: 0.1px inset #262626;

  padding:0px;
  background-color: blue;
}

