
  <mat-card style="overflow: auto " expanded=true class="card" *ngIf="payment" fxLayout="column">

    <div class="content">
      <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
      <form  #editForm="ngForm" (ngSubmit)="save()" fxLayout="row" fxLayout.xs="column"  fxLayoutAlign="space-between">


        <div class="form-group " fxFlex="30" >
          <mat-form-field class="gs-mat-field" fxFlex="100">

            <input matInput class="form-control" placeholder="Montant du versement " name="amount"  [formControl]="amountInput"  type="number"  [(ngModel)]="payment.amount"    required >

          </mat-form-field>
        </div>








        <div class="form-group " fxFlex="15">
          <mat-form-field class="gs-mat-field" fxFlex="100">

            <input matInput class="form-control" [matDatepicker]="datepicker" placeholder="Date"   [(ngModel)]="payment.date" name="Date"                                           required   >
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker touchUi="true" #datepicker></mat-datepicker>

          </mat-form-field>
        </div>




        <button type="submit" fxFlex="30" style="height: 60%" class="btn btn-primary" [disabled]="!editForm.form.valid">Enregistrer le versement</button>

      </form>
    </div>
  </mat-card>
