<ol class="breadcrumb float-right" *ngIf="product">
  <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
  <li class="breadcrumb-item active" routerLink="/stock/products">
    Produits disponibles

  </li>
  <li *ngIf="product._id"  class="breadcrumb-item active">
    {{product._id}}
  </li>

  <li *ngIf="!product._id"  class="breadcrumb-item active">
    Création d'un type de produit
  </li>
</ol>
<mat-expansion-panel style="overflow: auto " expanded=true class="card base-color-light" *ngIf="product" fxLayout="column">
  <mat-expansion-panel-header fxFlex="5" class="lead" fxLayout="column" fxLayout="center">


      <mat-panel-title>
        <p class="h4">
          <span *ngIf="!product._id">Création d'un type de produit</span>
          <span *ngIf="product._id">product</span>


        </p>
      </mat-panel-title>

      <mat-panel-description>

        <p class="h4"> </p>
      </mat-panel-description>







  </mat-expansion-panel-header>
  <div class="content">
    <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
    <form  #editForm="ngForm" (ngSubmit)="save()">



      <div class="form-group">
        <mat-form-field class="gs-mat-field" fxFlex="100">

          <input matInput class="form-control" placeholder="Id" name="Id"
                 type="text"  [(ngModel)]="product._id"   readonly  >

        </mat-form-field>
      </div>



      <div class="form-group">
        <mat-form-field class="gs-mat-field" fxFlex="100">

          <input matInput class="form-control" placeholder="nom" name="Name"
                 type="text"  [(ngModel)]="product.name"   >

        </mat-form-field>
      </div>



      <div class="form-group">
        <mat-form-field class="gs-mat-field" fxFlex="100">

          <input matInput class="form-control" placeholder="Description" name="Description"
                 type="text"  [(ngModel)]="product.description"   >

        </mat-form-field>
      </div>


      <div class="form-group">
        <mat-form-field  class="gs-mat-field" fxFlex="100">
          <input matInput class="form-control" placeholder="Categorie" name="Category"
                 [matAutocomplete]="autoCategory" [formControl]="categoryInput" (blur)="checkCategory()">

        </mat-form-field>
        <mat-autocomplete #autoCategory="matAutocomplete" [displayWith]="displayCategory"
        (optionSelected)="categoryClick($event)">
        <mat-option *ngIf="isLoadingCategory" class="is-loading">
          <mat-spinner diameter="50"></mat-spinner>
        </mat-option>
        <ng-container *ngIf="!isLoadingCategory">
          <mat-option *ngFor="let category of filteredCategoryList" [value]="category">
              <span>{{category.name}}</span>
          </mat-option>
        </ng-container>
        </mat-autocomplete>
      </div>



      <div class="form-group">
        <mat-form-field class="gs-mat-field" fxFlex="100">

          <input matInput class="form-control" placeholder="Prix de base" name="UnitPrice"
                 type="number"  [(ngModel)]="product.unit_price"   >

        </mat-form-field>
      </div>





      <button type="submit" class="btn btn-primary" [disabled]="!editForm.form.valid">Enregistrer</button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">Annuler</button>
    </form>
  </div>
</mat-expansion-panel>
