
<div *ngIf="!authService.active_user;else content" class="wrapper" style="padding-left: 10px;padding-right: 10px;background:  linear-gradient(white,lightblue)" fxLayout="column" fxLayoutAlign="center">
    <p class="h1 lead text-center"> ODICAM  </p>
<app-auth></app-auth>
</div>

<ng-template #content>
<div class="wrapper">

    <div class="sidebar" data-background-color="white" data-active-color="danger">
      <app-nav></app-nav>
    </div>
    <div class="main-panel card">
      <top-nav></top-nav>
      <div class="content">


        <router-outlet></router-outlet>
        <router-outlet name="aux"></router-outlet>


      </div>
    </div>


  </div>
</ng-template>
